body {
  font-family: Arial;
  width: 800px;
}

.white {
  background-color: white;
}

.lightgrey {
  background-color: lightgrey;
}

.opt2 {
  margin: 4px;
  padding: 4px;
}

.opt3 {
  text-align: center ;
}

.opt5-1 {
  width: 482px;
  height: 300px;
}

.opt5-2 {
  width: 280px;
  height: 300px
}

.opt6 {
  vertical-align: top;
}

.opt7 {
  border-radius: 4px;
}

.display {
  display: inline-block;
}
/* 모든 스타일링 요소를 클래스로 만들어 사용합니다. */

/* 1. airticle 태그는 white로 나머지 시멘틱 태그는 lightgrey로 배경색을 바꿔주세요. */

/* 2. 모든 시멘틱 태그의 margin과 padding을 4px로 만들어주세요. */

/* 3. h1 태그를 중앙 정렬 시켜주세요. */

/* 4. section과 aside 태그의 display를 inline-block으로 바꿔주세요. */

/* 5. section 태그는 width 482px height 300px, aside 태그는 width 280px height 300px로 만들어주세요.*/

/* 6. aside 태그에 vertical-align속성의 값을 top으로 적용해주세요.*/

/* 7. 모든 semantic 태그의 border 둘레를 4px로 만들어주세요. */
/* border-radius */